# Airflow 환경 변수

# 로컬 머신의 사용자 ID를 설정하여, 컨테이너에서 생성된 파일의 소유권 문제를 방지합니다.
# 터미널에서 'id -u' 명령어로 확인할 수 있습니다.
AIRFLOW_UID=501

# PostgreSQL 데이터베이스 설정
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow
POSTGRES_DB=airflow