# Python 가상환경 폴더 제외
venv/
.venv/
__pycache__/
*.pyc

# Airflow 실행용 무거운 파일 및 Meta DB 제외
airflow.db
airflow.cfg
webserver_config.py
simple_auth_manager_passwords.json.generated
standalone_admin_password.txt
logs/

airflow.db-shm
airflow.db-wal

*.log
airflow_standalone.log
