# 이 파일에 DAG에서 사용할 Python 라이브러리를 추가하세요.
# 이 라이브러리들은 가상환경 복원 또는 Docker 이미지 빌드 시 자동으로 설치됩니다.
# pip freeze > requirements.txt 명령으로 현재 환경의 모든 패키지를 기록할 수 있습니다.

# Airflow Providers
apache-airflow-providers-mysql
apache-airflow-providers-http

# Database Drivers
pymysql
mysqlclient